<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DLT </title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
   <link href="./css/font-awesome.css" rel="stylesheet">
	<link href="./css/main.css" rel="stylesheet">
    <link href="./css/responsive.css" rel="stylesheet">
    
    
</head>
<body>
     <div class="container padT35" >
        <div class="card card-container" >
          <form  enctype="multipart/form-data">
              <h3>Deploy Contract</h3>
              <div class="row">
            <div class="col-lg-6">
              <select class="custom-select marT30" id="parent_selection" style="width: 100%;">
              <%
                for ( var i = 1; i <= nodeCount; i++ )
                {
                    
                    %><option value="node-<%= i  %>">node-<%= i  %></option><%
                }
             %>
             </select>
             </div>
            <div class="col-lg-6">
              <select class="custom-select marT30" id="child_selection" style="width: 100%;">
              <%
                for ( var i = 1; i <= nodeInfo["node-1"].length; i++ )
                {
                    
                    %><option value="<%= nodeInfo["node-1"][i] %>"><%= nodeInfo["node-1"][i]  %></option><%
                }
             %>
             </select>
         </div>
            </div>
              <label class="custom-file marT30">
                    <input type="file" id="ingredient_file" class="custom-file-input">
                    <span class="custom-file-control"></span>
             </label>
            <div class="marT30">
                <button class="btn btn-lg btn-primary  btn-signin marR10" style="width:30%; float:right; background:grey"  type="button" onclick="onSubmit()">Cancel</button>
                <button class="btn btn-lg btn-primary btn-signin marR10" style="width:30%; float:right" type="button" onclick="onSubmit()">Submit</button>
         </div>
            </form><!-- /form -->
           </div>
           <!-- /card-container -->
           <div id="mine"  style="display:none">
            <canvas id="myCanvas" class="canv"></canvas>
         </div>
     </div>
      <input type="hidden" value="<%= JSON.stringify(nodeInfo) %>" id="server_info"/>
      <input type="hidden" value="<%= nodeCount %>" id="node_count"/>
</body>
  <script src="./js/jquery.js"></script>
	<script src="./js/bootstrap.min.js"></script>
     <script src="./js/socket.io.js"></script>
     <script src="./js/canvas.js"></script>
     <script src="./js/script.js"></script>


</body>
</html>